version: '3.8'
services:
  db:
    image: postgres:14.6-alpine
    container_name: db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=owners
      - POSTGRES_PASSWORD=password

  server:
    build: server
    image: server
    container_name: server_container
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - "TZ=Europe/Moscow"
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit

  gateway:
    build: gateway
    image: gateway
    container_name: gateway_container
    ports:
      - "8080:8080"
    depends_on:
      - server
      - db
    environment:
      - "TZ=Europe/Moscow"
      - SHAREIT_SERVER_URL=http://server:9090